<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/auth/register.css">

</head>

<body>
    
<%- include('../partials/navigation') %>
		<!-- /HEADER -->

		<div class="body-container">
			<link rel="stylesheet" href="/css/style.css">

<div class="container-c">
  
  <div class="form-section">
    <h2>Login</h2>
    <% if (errorMessage[0]) { %>
      <div class="flash error"><%= errorMessage %></div>
    <% } %>
    <% if (successMessage[0]) { %>
      <div class="flash success"><%= successMessage %></div>
    <% } %>
    <form method="POST" action="/login">
      <input type="email" name="email" placeholder="Email Address" required>
      <input type="password" name="password" placeholder="Password" required>
      <button type="submit">Login</button>
    </form>

    <!-- Login link -->
    <p style="margin-top: 10px; color: #aaa;">
      Create New account <a href="/register" style="color: #D10024; text-decoration: none;">Register here..</a>
    </p>
  </div>

  <div class="side-content">
    <h3>Login to Continue</h3>
    <p>Sell your items or bid on exclusive listings. Become part of a fast-growing marketplace.</p>
  </div>
</div>

		</div>

		

		
		


<!-- FOOTER -->

</body>


